.MMM-ParcelTrack .icon {
    margin-right: 5px;
}

.MMM-ParcelTrack .table {
    text-align: center;
    border-spacing: 2px 0px;
    border-collapse: separate;
}

.MMM-ParcelTrack .header .icon {
    padding-left: 5px;
}
